@(query: String, products: java.util.List[io.prismic.Document], others: java.util.List[io.prismic.Document])

@excerpt(text: String, words: Int = 50) = @{
  val truncated = text.take(words * 10).split("""\s""").dropRight(1).take(words).mkString(" ")
  truncated + (if(truncated != text) "..." else "")
}

@main(id = "search", title = Some("Search")) {

  <section>

    <form action="@routes.Application.search(prismic.maybeRef())" method="GET">
      <input type="text" name="query" placeholder="Search anything" value="@query" autocomplete="off">
      <input type="submit" value="Submit">
    </form>

  </section>

  <section>

    @Option(products).filterNot(_.isEmpty).map { products =>

      <div id="product-results" class="products">

        <h2>We have @(products.size match {case 1 => "one product" case x => s"$x products"}) matching your request</h2>

        <ul>
          @products.map {

            case product if product.getType() == "product" => {
              <li>
                <a href="@routes.Application.productDetail(product.getId(), product.getSlug(), prismic.maybeRef())">
                  <img src="@(Option(product.getImage("product.image", "icon")).map(_.getUrl()).getOrElse(routes.Assets.at("images/missing-image.png")))">
                  <span>@Option(product.getText("product.name")).getOrElse("Product")</span>
                </a>
              </li>
            }

            case selection if selection.getType() == "selection" => {
              <li>
                <a href="@routes.Application.selectionDetail(selection.getId(), selection.getSlug(), prismic.maybeRef())">
                  <img src="@(Option(selection.getImage("selection.image", "icon")).map(_.getUrl()).getOrElse(routes.Assets.at("images/missing-image.png")))">
                  <span>@Option(selection.getText("selection.name")).getOrElse("Product selection")</span>
                </a>
              </li>
            }

          }
        </ul>

      </div>

    }

    @Option(others).filterNot(_.isEmpty).map { others =>

      <div id="other-results">

        <h2>@(others.size match {case 1 => "One relevant article" case x => s"$x relevant articles"}) in our Website</h2>

        @others.map {

          case article if article.getType() == "article" => {
            <article>
              <a href="@prismic.getLinkResolver().resolve(article)">
                <h3>@article.getText("article.title")</h3>
                <em>@prismic.getLinkResolver().resolve(article)</em>
                <p>@excerpt(Option(article.getText("article.content")).getOrElse(""))</p>
              </a>
            </article>
          }

          case store if store.getType() == "store" => {
            <article>
              <a href="@prismic.getLinkResolver().resolve(store)">
                <h3>Les Bonnes Choses Store – @store.getText("store.name")</h3>
                <em>@prismic.getLinkResolver().resolve(store)</em>
                <p>
                  @store.getText("store.address")
                  @store.getText("store.address2")
                  @store.getText("store.city")
                  @store.getText("store.zipcode")
                  @store.getText("store.country")
                </p>
              </a>
            </article>
          }

          case job if job.getType() == "job-offer" => {
            <article>
              <a href="@prismic.getLinkResolver().resolve(job)">
                <h3>Join us – @job.getText("job-offer.name")</h3>
                <em>@prismic.getLinkResolver().resolve(job)</em>
                <p>@excerpt(Option(job.getText("job-offer.profile")).getOrElse(""))</p>
              </a>
            </article>
          }

          case blog if blog.getType() == "blog-post" => {
            <article>
              <a href="@prismic.getLinkResolver().resolve(blog)">
                <h3>In our blog – @Option(blog.getStructuredText("blog-post.body")).flatMap(d => Option(d.getTitle())).map(_.getText())</h3>
                <em>@prismic.getLinkResolver().resolve(blog)</em>
                <p>@excerpt(Option(blog.getStructuredText("blog-post.body")).flatMap(d => Option(d.getFirstParagraph())).map(_.getText()).getOrElse(""))</p>
              </a>
            </article>
          }

        }

      </div>

    }

    @Option(query).map { 

      case query if products.isEmpty && others.isEmpty => {
        <div id="no-results">

          <h2>No results found</h2>

          <p>
            Do you want to browse our <a href="@routes.Application.products(prismic.maybeRef())">products catalog</a>?
          </p>

        </div>
      }

      case _ => {}

    }

  </section>

}